#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.asset {
  max-width: 70vw;
  max-height: 70vh;
}
.details {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .asset {
    min-width: 100vw;
    max-height: 70vh;
  }
  .details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
